

.row.content {height: 550px;}

.sidenav {
  background-color: #2ecc71;
  height: 100vh;
  color: #fff;
}
hr{
  border:1px solid #fff;
  margin-top: 0px;
}
@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}
.col-sm-10 {
    margin-left: 227px;
    padding: 7px;
}
.content2{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 58px;
    background-color: #f9f9f900;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #7fe08fcc;
}
.glyphicon-menu-down{float: right;}
.nav-pills>li>a{
     text-decoration: none;
     color: #fff;
   }
.nav-pills>li>a:focus, .nav-pills>li>a:hover {
    text-decoration: none;
    background-color: #6edc89;
    color: #fff;
}
.nav-pills>li>ul>li>a{
     text-decoration: none;
     color: #fff;
   }
   .nav-pills>li>ul>li>a:focus, .nav-pills>li>ul>li>a:hover {
       text-decoration: none;
       color: black;
   }
.nav-pills>li>ul{
       background: #328e59;
}

.nav-pills>li>ul>li{
  display:block;
  padding:5px;
}
.navbar-default .navbar-nav>li>a {
    color: #2ecc71;
}
.navbar-default .navbar-brand {
    color: #2ecc71;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #2ecc71;
    background-color:#f8f8f8;
}
